body{
    /* background-color: #eee; */
/* fallback for old browsers */
   
}
header {
background: linear-gradient(to right, #748570e9, #cfcdcff3);
}

h1 {
    margin-top: 50px;
}

.navbar.navbar-dark.bg-dark {
    background-color: #060606;
    /* Red color */
}

.navbar.navbar-dark.bg-dark {
    background: linear-gradient(to right, #93a78eea, #cdcfcef3);
    border-radius: 10px;

    bottom: 0px;
    width: 100%;
}

.navbar-nav {
    margin-left: 0;

}

/* //text */
.navbar-brand {
    color: rgb(27, 28, 27);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.navbar .navbar-nav .nav-link {
    color: #1e1e1e;
    /* Set the text color of the navbar links to white */
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(247, 238, 238);
    /* Set the text color of the navbar links to white */
}











.logo {
border-radius: 50%;

} 
.center-table{
    margin: 0 auto;
}

.btn-group{
    margin-top: 1rem;
    background-color:rgba(132, 250, 176, 1),
        rgba(143, 211, 244, 1);
    /* /* color: #157347;
        border-color: #84fab0; */
} 

.center-table{
    margin-top: 3rem;
}

#loginInfo{
    background-image: url();
}


#changeFormFileLg{
    margin-bottom: 5rem;
}

#formFileLg{
    margin-bottom: 5rem;
}

#Extract Text{
    margin-top: 5rem;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(223, 219, 217);
    color: rgb(175, 170, 170);
   margin-top: 10rem;
}

footer a {
    color: #0f100f;
    border-color: #84fab0;
}
.gradient-custom-3 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}